<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          {% if site.title != '' %}
          <h1 class="text-center">{{site.title}}</h1>
          {% endif %}
          
          <!-- intro -->
          <p class="text-center">
            Currently a bioinformatics data scientist at Memorial Sloan Kettering Cancer Center,
            I'm seeking a PhD position in computational biology with a focus in
            <b> scaling up biology</b>, 
            <b>advancing the understanding of cancer and other human diseases</b>, 
            and <b>improving genomics-driven precision medicine</b>.
            <!-- {% if site.enable_contact == true %}
            {% include contact.html %}
            {% include contact-modal.html %}
            {% endif %} -->
          </p>

          <!-- <div class="hero-buttons">
              <a href="#edu">
                <button class="btn btn-default btn-lg">
                    Education
                </button></a>
              <a href="#pub">
                <button class="btn btn-default btn-lg">
                    Publications
                </button></a>
              <a href="#ri">
                <button class="btn btn-default btn-lg">
                    Research Interests
                </button></a>
          </div> -->

        </div>

      </div>

      <!-- <a class="section-jump text-center" href="#portfolio">
        <i class="fa fa-angle-down fa-3x"></i>
      </a> -->

    </div>

  </div>

</div>
