{% include header.html %}
    
  <!-- banner -->
  <img src="/img/dna.png" alt="DNA" style="width:100%">

  {% include home-hero.html %}

  <main>
    <div class="container">
      <a id="ri"></a>
      <span style="display:block; height: 100px;"></span>
      <!-- research interests -->
      <div class="row">
          <h3 class="text-center">Research Interests</h3>
          <p class ="text-left">
              <br><b>Scaling up biology: </b>
              <br><b>Understanding cancer and human diseases: </b>
              <br><b>Improving genomics-driven precision medicine: </b>
          </p>
        </div>

      <!-- education -->
      <a id="edu"></a>
      <span style="display:block; height: 100px;"></span>
      <div class="row">
        <h3 class="text-center">Education</h3>
        <p class ="text-center">
            <br>Washington University - St. Louis, MO                                                                                                     	
            <br>Sep 2014 – May 2018
            <br>B.S. Double Major in <b>Computer Science </b> and <b> Biology </b>
            <br>Summa Cum Laude, 3.99/4.00
            <br>Honor Thesis, "ceFinder: Machine Learning Based Prediction of Novel Competing Endogenous RNAs"
        </p>
      </div>

      <!-- work experience -->
      <a id="work"></a>
      <span style="display:block; height: 100px;"></span>
      <div class="row">
        <h3 class="text-center">Work Experience</h3>

        <span style="display:block; height: 50px;"></span>

        <p class ="text-left" style="text-align:left;">
            Memorial Sloan Kettering Cancer Center – New York, NY 
            <span style="float:right;"> May 2018 – Present </span>
            <br><i>Computational Biologist I</i>
        </p>

        <p class ="text-left" style="text-align:left;">
            McDonnell Genome Institute - St. Louis, MO
            <span style="float:right;">Sep 2016 – May 2018</span>
            <br><i>Research Assistant</i>
        </p>
        <ul>
            <li>Key developer of INTEGRATE-Vis, a visualization tool for patient-specific gene fusions discovered in RNA-Seq</li>
            <li>Honor thesis on machine learning based prediction of novel competing endogenous RNAs using TCGA RNA-Seq data</li>
        </ul>

        <p class ="text-left" style="text-align:left;" margin="10px">
            Roche Molecular Systems - Pleasanton, CA
            <span style="float:right;">May 2017 – August 2017</span>
            <br><i>Bioinformatics Intern</i>
        </p>
        <ul>
            <li>Built RNA-Seq analysis pipeline for novel miRNA discovery and differential expression</li>
            <li>Assembled the genome of a novel antibiotic-resistant bacteria strain using Illumina whole genome sequencing data</li>
            <li>Engineered novel NGS sequence analysis command-line tools in Python</li>
        </ul>

        <p class ="text-left" style="text-align:left;">
            Wake Forest Institute for Regenerative Medicine - Winston Salem, NC
            <span style="float:right;">May 2016 – Aug 2016</span>
            <br><i>Summer Scholar</i>
        </p>
        <ul>
            <li>Established quantitative models for biomaterial viscoelasticity in 3D bioprinting, leading to a highly cited publication</li>
        </ul>

      </div>
      
      <!-- publications -->
      <a id="pub"></a>
      <span style="display:block; height: 100px;"></span>
      <div class="row">
        <h3 class="text-center">Publications</h3>
          <p class ="text-left">
              <br>Bolton K, Ptashkin R*, <b>Gao T*</b>, Braunstein L, Devlin S, Kelly D, Syed A, Patel M, Berthon A, Yabe M, Coombs C, Caltabellotta N, Walsh M, Offit K, Stadler Z, Mandelker D, Schulman J, Philip J, Bernard E, Gundem G, Arango J, Levine M, Medina J, Farnoud N, Glodzik D, Li S, Arcila M, Robson M, Ladanyi M, Lee C, Pharoah P, Stopsack K, Spitzer B, Mantha S, Bocai L, Gibson C, Ebert B, Young A, Druley T, Takahasi K, Gillis N, Ball M, Padron E, Hyman D, Baselga J, Norton L, Gardos S, Klimek V, Scher H, Bajorin D, Paraiso E, Solit D, Berger M, Tallman M, Garcia-Closas M, Chatterjee N, Diaz L, Levine R, Morton L, Zehir A**, Papaemmanuil E** "Oncologic therapy shapes the cellular fitness of clonal hematopoiesis" 
              <i>Nature</i> (Under review);

              <br><br>Zhang J, <b>Gao T</b>, Maher CA. "INTEGRATE-Vis: a tool for comprehensive gene fusion visualization­". 
              <i>Scientific Reports</i> 2017; doi: 10.1038/s41598-017-18257-2 

              <span data-badge-popover="right" data-badge-type="1" data-doi="10.1038/s41598-017-18257-2" data-hide-no-mentions="true" class="altmetric-embed"></span>
              <script type="text/javascript" src="https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js"></script>

              <br><br><b>Gao T*</b>, Gillispie GJ*, Copus JS, Pr AK, Seol YJ, Atala A, Yoo JJ, Lee SJ. 
              "Optimization of Gelatin-Alginate Composite Bioink Printability Using Rheological Parameters: a Systematic Approach". 
              <i>Biofabrication</i> 2018; doi:10.1088/1758-5090/aacdc7
              
              <br>
              <span class="__dimensions_badge_embed__" data-id="pub.1104997503" data-style="large_rectangle"></span>
              <script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>

              <br><br>*Equal contribution. 
          </p>
      </div>

    </div>
  </main>

{% include footer.html %}
