{% include header.html %}
    
  <!-- banner -->
  <img src="img/dna.png" alt="DNA" style="width:100%">

  {% include home-hero.html %}

  <hr>

  <main>

    <!-- research interests -->
    <a id="ri"></a>
    <span style="display:block; height: 50px;"></span>
    <div class="container">
      <div class="row">
          <h3 class="text-center">Research Interests</h3>
          <p class ="text-left">
              <br><u><b>Understanding cancer</b> using genomic big data</u>: since the Human Genome Project, the amount of genomic data has grown exponentially. Analyzing and interpreting these data using computational and statistical techniques offer an unprecedented oppurtunity to understand and possibly treat important human dieases such as cancer. Ideally, the focus of my PhD work would be on understanding the mechanisms of cancer initiation, progression, and treatment by leveraging this unique resource.

              <br><br><u><b>Improving precision oncology</b> with biomedical informatics</u>: fast sequencing assays coupled with rapid bioinformatic analysis can deliver clinically critical information for an individual patient in a matter of hours. I would love to continue my involvement in precision medicine through projects that aim to leverage the most up-to-date genomic technologies and research data to improve clinical decision making.
              
              <br><br><u><b>Scaling up biology</b> with high-throughput sequencing technologies</u>: the invention of next generation sequencing (NGS) is projected to have an impact on par with that of the microscope. The next big push that will further propel our understanding of biology are technologies that can assay multiple whole layers of biological information (genome, transcriptome, proteome, regulatome, etc) at single cell resolution. I am interested in developing and applying these emerging methods in addressing problems in cancer biology.
          </p>
      </div>
    </div>
    <span style="display:block; height: 100px;"></span>
    <hr>

    {% include cv.html %}

    <span style="display:block; height: 100px;"></span>
    <hr>
    <a id="per"> </a>
    <span style="display:block; height: 100px;"></span>

    <!-- Personal statement -->
    {% include ps.html %}
  </main>

{% include footer.html %}
