{% include header.html %}

    {% include home-hero.html %}

    <main>
      <div class="container">
        
        <!-- research interests -->
        <div class="row" id="ri">
            <h3 class="text-center">Research Interests</h3>
            <p class ="text-left">
                <br><b>Scaling up biology: </b>
                <br><b>Understanding cancer and human diseases: </b>
                <br><b>Improving genomics-driven precision medicine: </b>
            </p>
          </div>

        <!-- education -->
        <span style="display:block; height: 100px;"></span>
        <div class="row" id="edu">
          <h3 class="text-center">Education</h3>
          <p class ="text-center">
              <br>Washington University - St. Louis, MO                                                                                                     	
              <br>Sep 2014 – May 2018
              <br>B.S. Double Major in <b>Computer Science </b> and <b> Biology </b>
              <br>Summa Cum Laude, 3.99/4.00
              <br>Honor Thesis, "ceFinder: Machine Learning Based Prediction of Novel Competing Endogenous RNAs"
          </p>
        </div>
        
        <!-- publications -->
        <span style="display:block; height: 100px;"></span>
        <div class="row" id="pub">
          <h3 class="text-center">Publications</h3>
            <p class ="text-left">
                <br>Bolton K, Ptashkin R*, <b>Gao T*</b>, Braunstein L, Devlin S, Kelly D, Syed A, Patel M, Berthon A, Yabe M, Coombs C, Caltabellotta N, Walsh M, Offit K, Stadler Z, Mandelker D, Schulman J, Philip J, Bernard E, Gundem G, Arango J, Levine M, Medina J, Farnoud N, Glodzik D, Li S, Arcila M, Robson M, Ladanyi M, Lee C, Pharoah P, Stopsack K, Spitzer B, Mantha S, Bocai L, Gibson C, Ebert B, Young A, Druley T, Takahasi K, Gillis N, Ball M, Padron E, Hyman D, Baselga J, Norton L, Gardos S, Klimek V, Scher H, Bajorin D, Paraiso E, Solit D, Berger M, Tallman M, Garcia-Closas M, Chatterjee N, Diaz L, Levine R, Morton L, Zehir A**, Papaemmanuil E** "Oncologic therapy shapes the cellular fitness of clonal hematopoiesis" 
                <i>Nature</i> (Under review);

                <br><br>Zhang J, <b>Gao T</b>, Maher CA. "INTEGRATE-Vis: a tool for comprehensive gene fusion visualization­". 
                <i>Scientific Reports</i> 2017; doi: 10.1038/s41598-017-18257-2 

                <br><br>
                <span data-badge-details="right" data-badge-type="donut" data-doi="10.1038/s41598-017-18257-2" class="altmetric-embed" data-condensed="true"></span>
                <script type="text/javascript" src="https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js"></script>

                <br><br><b>Gao T*</b>, Gillispie GJ*, Copus JS, Pr AK, Seol YJ, Atala A, Yoo JJ, Lee SJ. 
                "Optimization of Gelatin-Alginate Composite Bioink Printability Using Rheological Parameters: a Systematic Approach". 
                <i>Biofabrication</i> 2018; doi:10.1088/1758-5090/aacdc7
                
                <br><br>
                <span class="__dimensions_badge_embed__" data-pmid="29923501" data-legend="always" data-style="small_circle"></span>
                <script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>

                <br><br>*Equal contribution. 
            </p>
        </div>

      </div>
    </main>

{% include footer.html %}
